[package]
name = "app"
version = "0.1.0"
edition = "2024"

[dependencies]
lib = { path = "../lib" }
tokio = { version = "1.48.0", features = ["rt", "rt-multi-thread", "macros"] }
dotenvy = "0.15"
anyhow = "1.0.100"
